<h1>New Note</h1>
<form action="/notes" method="post">
  <input type="text" name="title" value="" placeholder='Title' />
  <br />
  <textarea name="body"></textarea>
  <br />
  <input type="submit" value="Create Note"/>
</form>
